<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/690cb8f1-a585-41e3-96cb-b4dad88687a3/resourcegroups/MEBMS_group/providers/Microsoft.Web/sites/MEBMS</ResourceId>
    <ResourceGroup>MEBMS_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://mebms.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c048d658-8edb-4d01-86a7-b772f2bba4e9</ProjectGuid>
    <PublishUrl>https://mebms.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MEBMS</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>